<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
      <h2 class="mb-0 fw-bold">Recomanded meals</h2>
      <div class="col-lg-6 mb-4 mb-xl-0">
        <div class="demo-inline-spacing mt-3">
          <div class="list-group list-group-flush">
            <ng-container *ngFor="let meal of recommendedMeals">
              <a href="javascript:void(0);" class="list-group-item list-group-item-action">
                <small>{{ meal.name }}</small>
                <ul class="mt-1 mb-0 ps-3">
                  <li *ngFor="let ingredient of meal.ingredients">
                    {{ ingredient.name }} (Stock: {{ ingredient.stock }})
                  </li>
                </ul>
              </a>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="table-header px-0">
        <h2 class="mb-0 fw-bold">Meals</h2>
        <div class="table-actions">
          <input class="form-control" type="text" placeholder="Search..." [(ngModel)]="searchTerm"
            (input)="searchIngredient()" value="Search ..." id="html5-search-input" />
          <button routerLink="/admin/mealsmanagement/meals/add" type="button" class="btn btn-primary">Add</button>
        </div>
      </div>
      <!-- Grid Card -->
      <h6 class="pb-1 mb-4 text-muted"></h6>
      <div class="row row-cols-1 row-cols-md-3 g-4 mb-5">
        <div class="col" *ngFor="let meal of meals">
          <div class="card h-100">
            <img *ngIf="meal.imagePath" [src]="base_url + meal.imagePath"
              alt="Meal Image">
            <div class="card-body">
              <h5 class="card-title">{{ meal.name }}</h5>
              <p class="card-text">{{ meal.description }}</p>
              <p><strong>Category :</strong> {{ meal.category }}</p>
              <p><strong>Price :</strong> {{ meal.price }}&nbsp;<span class="currency">DT</span></p>
            </div>
            <div class="dropdown" style="position: absolute; margin: 4px; right: 0%; z-index: 10;">
              <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                <i class="bx bx-dots-vertical-rounded"></i>
              </button>
              <div class="dropdown-menu">
                <a *ngIf="meal.mealId" class="dropdown-item" href="javascript:void(0);" (click)="update(meal.mealId)"
                  [routerLink]="['/admin/mealsmanagement/meals/update', meal.mealId]"><i class="bx bx-edit-alt me-1"></i>
                  Edit</a>
                <a *ngIf="meal.mealId" class="dropdown-item" href="javascript:void(0);"
                  (click)="deleteMeal(meal.mealId!)"><i type="button" class="bx bx-trash me-1"></i> Delete</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--<div>
                  <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"></span>Recommended Dishes</h4>
                  <button type="button" (click)="getRecommendations()" class="btn btn-primary">Get Recommendations</button>
                  <div *ngIf="recommendedDishes.length > 0">
                    <ul>
                      <li *ngFor="let dish of recommendedDishes">{{ dish.name }}</li>
                    </ul>
                  </div>
                  <div *ngIf="recommendedDishes.length === 0">
                    No dishes can be prepared with the available ingredients.
                  </div>
                </div>-->
      <div *ngIf="discountedMeals.length > 0" class="meal-list">
        <h2 class="mb-4">Meals avec réduction</h2>
        <div class="row row-cols-1 row-cols-md-3 g-4 mb-5">
          <div class="col" *ngFor="let meal of discountedMeals">
            <div class="card h-100 position-relative">
              <img *ngIf="meal.imagePath" [src]="'http://localhost:8089/gaspillagezero' + meal.imagePath"
                class="card-img-top" alt="Meal Image">
  
              <div class="card-body">
                <h5 class="card-title">{{ meal.name }}</h5>
                <p class="card-text">{{ meal.description }}</p>
                <p><strong>Category :</strong> {{ meal.category }}</p>
  
                <p>
                  <strong class="text-muted text-decoration-line-through">
                    Original Price: {{ meal.price | currency:'EUR' }}
                  </strong><br>
                  <strong class="text-success">
                    Discounted Price: {{ meal.discountedPrice | currency:'EUR' }}
                  </strong>
                </p>
              </div>
  
              <div class="dropdown" style="position: absolute; margin: 4px; right: 0%; z-index: 10;">
                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                  <i class="bx bx-dots-vertical-rounded"></i>
                </button>
                <div class="dropdown-menu">
                  <a *ngIf="meal.mealId" class="dropdown-item" href="javascript:void(0);" (click)="update(meal.mealId)"
                    [routerLink]="['/admin/mealsmanagement/meals/update', meal.mealId]">
                    <i class="bx bx-edit-alt me-1"></i> Edit
                  </a>
                  <a *ngIf="meal.mealId" class="dropdown-item" href="javascript:void(0);"
                    (click)="deleteMeal(meal.mealId!)">
                    <i class="bx bx-trash me-1"></i> Delete
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <!--/ Card layout -->
    </div>
  
    <div class="content-backdrop fade"></div>
  </div>