<div class="app-brand demo">
  <a href="index.html" class="app-brand-link">
    <span class="app-brand-logo demo">
    <img src="/assets/img/gasp_logo.png" height="40px" alt="logo">
    </span>
    <span class="app-brand-text demo menu-text fw-bolder ms-2">ZeroWaste</span>
  </a>

  <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
    <i class="bx bx-chevron-left bx-sm align-middle"></i>
  </a>
</div>

<div class="menu-inner-shadow"></div>

<ul class="menu-inner py-1">
  <li class="menu-item" *ngFor="let item of menuItems" appDashboardMenuItem [menu]="item" [collapsed]="collapsed">
  </li>
</ul>