<div class="employee-info-container">
    
    
    <div *ngIf="error" class="alert alert-danger my-4" role="alert">
      <p><i class="bi bi-exclamation-triangle me-2"></i>{{ error }}</p>
      
    </div>
  
    <div  class="employee-info">
      <div class="info-header">
        <div class="row align-items-center">
          <div class="col-md-8">
            <h3>{{ user.name }}</h3>
            <p class="text-muted">Employee ID: #{{ user.id }}</p>
          </div>
          <div class="col-md-4 text-md-end">
            <span class="role-badge">{{ user.employeeRole }}</span>
          </div>
        </div>
      </div>
  
      <div class="info-details mt-4">
        <div class="row info-row">
          <div class="col-md-3 info-label">Contact:</div>
          <div class="col-md-9 info-value">{{ user.email }}</div>
        </div>
        
        <div class="row info-row">
          <div class="col-md-3 info-label">Salary:</div>
          <div class="col-md-9 info-value">{{ user.salary | currency }}</div>
        </div>
        
        <div class="row info-row">
          <div class="col-md-3 info-label">Hire Date:</div>
          <div class="col-md-9 info-value">{{ user.hiredate | date:'mediumDate' }}</div>
        </div>
      </div>
    </div>
  </div>