<section id="menu" class="menu section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Our Menu</h2>
    <p><span>Check Our</span> <span class="description-title"> Menu</span></p>
  </div><!-- End Section Title -->

  <div class="container">
    <ul class="nav front-nav-tabs d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
      <li class="nav-item" *ngFor="let category of categories">
        <a class="front-nav-link" [class.active]="selectedCategory === category" (click)="selectCategory(category)">
          <h4>{{ category }}</h4>
        </a>
      </li>
    </ul>
    <div class="tab-content" data-aos="fade-up" data-aos-delay="200">

      <div class="tab-pane fade active show" id="menu-starters">

        <div class="tab-header text-center">
          <p>Menu</p>
          <h3>{{ selectedCategory }}</h3>
        </div>

        <div class="row gy-5">
          <div class="col-lg-4 menu-item" *ngFor="let meal of filteredMeals">
            <a [href]="meal.imagePath" class="glightbox">
              <img *ngIf="meal.imagePath" [src]="'http://localhost:8089/gaspillagezero' + meal.imagePath"
                class="menu-img img-fluid" alt="">
            </a>
            <h4>{{ meal.name }}</h4>
            <p class="ingredients">{{ meal.description }}</p>
            <p class="price">{{ meal.price }} <span class="currency">TND</span></p>
            <!-- Rating Stars -->
            <div class="rating text-center mt-2">
              <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
                <i class="fa" [ngClass]="{
        'fa-star': star <= (meal.averageRating ?? 0),
        'fa-star-o': star > (meal.averageRating ?? 0)
      }" (click)="rateMeal(meal, star)" style="cursor:pointer; color:gold;"></i>
              </ng-container>
              <div class="mt-1 small text-muted">Avg: {{ meal.averageRating?.toFixed(1) }}/5</div>
            </div>
            <button class="btn-low-radius" (click)="orderMeal(meal)">Order</button>
          </div>
        </div>
      </div>

    </div>

  </div>

</section>
